.cart-title {
    margin-top: 50px;
    font-family: 'Balthazar', Georgia, 'Times New Roman', serif !important;
}
.cart-text {
    margin-top: 50px !important;
    text-align: center !important;
   font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif !important; 
   color: rgba(0, 0, 0, 0.6);
 
}
.cart-text .btn {
    margin-top: 20px !important;
    background-color: #efe9d9 !important; 
    border: 2px solid red !important; 
    color: red !important; 
}

.button-of-cart {

text-align: center !important;
font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif !important;

}
.cart-total {
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif !important;
    text-align: right !important;
}

.go-to-checkout {
    text-align: right !important;
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif !important;
    margin-top: 20px !important; /* Tạo khoảng cách phía trên nút */
    margin-bottom: 20px !important; /* Tạo khoảng cách phía dưới nút */
    background-color: #efe9d9 !important;
    border: 2px solid red !important;
    color: red !important;
    margin-left : 1115px;

}