.consignment-title {
    margin-top: 50px !important;
    font-family: 'Balthazar', Georgia, 'Times New Roman', serif !important;
    margin-bottom: 30px    !important;
}

.consignment-text {

font-size: 1.3rem !important; 
font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif !important;

}

.text-title {

    font-family: 'Balthazar', Georgia, 'Times New Roman', serif !important;

}

.tick {
    font-size: 0.8rem !important;
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif !important;
    font-style: italic !important;
    color: #555 !important;
}

.ctn-to-payment{
    margin-top: 20px !important ;
    background-color: #efe9d9 !important;
    border: 2px solid red !important;
    color: red !important;
}

.certi-btn{
    margin-top: 10px;
    background-color: #efe9d9 !important;
    border: 2px solid red !important;
    color: red !important;

}

.tick label {
    font-size: 0.8rem; /* Thay đổi kích thước của label */
}