.contact-title {
    font-size: 2rem !important; 
    font-family: 'Balthazar', Georgia, 'Times New Roman', serif !important; 
}

.contact-text {
    font-size: 1.5rem !important; 
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif !important; 
    margin-top : 10px !important;
    margin-bottom : 10px !important;

}

.hours-title{
    font-size: 1.5rem !important; 
    font-family: 'Balthazar', Georgia, 'Times New Roman', serif !important;
}

.farm-title{
    font-size: 1.5rem !important; 
    font-family: 'Balthazar', Georgia, 'Times New Roman', serif !important;
}

.tick{

    font-size: 1.2rem !important;
}