.icon-youtube:hover,
.icon-facebook:hover,
.icon-ig:hover,
.icon-zalo:hover {
    opacity: 0.7;
    transform: scale(1.5);
}

.footer-top {
    background-color: #EFE9D9;
    padding: 20px 0;
    color: #333;

}

.footer {
    font-family: Lato, Arial, Helvetica, Arial, Lucida, sans-serif !important;
    line-height: 27.2px;
    font-weight: 500;
}

.footer a {
    color: #c53125;
    text-decoration: none;
}
.footer h5 {
    font-weight: bold;
    font-family: Lato, Arial, Helvetica, Arial, Lucida, sans-serif;
}

.footer p {
    font-size: 14px;
    font-family: Lato, Arial, Helvetica, Arial, Lucida, sans-serif !important;
}

.footer-bottom {
    background-color: #231815;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}