.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50% !important;
    transform: translate(-50%, -50%);
    
    background-color: transparent !important;
    padding: 20px;
    

} 

.carousel-caption-custom     {
    width: 600px;
    height: 200px;
}
.carousel-caption h1 {
    font-family: 'Playfair Display', 'Balthazar', serif;
    font-size: 50px;
    font-weight: 900;
    word-spacing: 0px;
    line-height: 50px;
    text-decoration: none solid rgb(255, 255, 255);
}

.carousel-caption a {
    font-size: 15px;
    color: #C53125;
    background-color: #F4F0E7;
    margin-right: 10px;
    padding: 10px;
    border: 2px solid #C53125;
}
.carousel-caption a:hover {
    color: #FFFFFF; /* Màu chữ khi hover */
    background-color: #C53125; /* Màu nền khi hover */
    border: 2px solid #FFFFFF; /* Màu border khi hover */
}

 