.title-login {
    font-size: 2rem !important;
}

.login-text {
    margin-top: 50px !important;
    font-size: 1.3rem !important;
    
}  

.text-footer {
    font-size: 1.3rem !important;
    margin-bottom: 100px   !important;
    font-family: 'Times New Roman', serif !important;
}

.header-login {
    margin-top: 100px !important;
    font-family: 'Times New Roman', serif !important;
}

.text-center {
    font-family: 'Times New Roman', serif !important;
    font-size: 1.8rem !important;
}