.edit-button {
  /* padding-left: 1200px; */
  width: 50px;
  margin-left: 95%;
  background-color: white;
  color: gray;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  text-align: right;
  cursor: pointer;
}

.edit-button:hover {
  color: #C54125;
}

.input{
  border: none; 
  background-color: transparent;
}
