.edit-button {
  /* padding-left: 1200px; */
  width: 50px;
  margin-left: 95%;
  background-color: transparent;
  color: #C54125;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  text-align: right;
  cursor: pointer;
}

.edit-button:hover {
  background-color: #C54125;
  color: white;
}

.input{
  border: none; 
  background-color: transparent;
}

.logout-button {
  background-color: transparent;
  color: #C54125;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #C54125;
}

.logout-button:hover {
  background-color: #C54125;
  color: white;
}

